<% content_for :head do %>
   <title> <%= @user.name %> | Monolist</title>
   <meta name="description" content="<%= @user.name %>ã®monolists" >
<% end %>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>